<div class="listUser">
    <p>{{ message }}</p>
    <p class="error">{{ errorMessage }}<p>
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in $data">
            <td data-title="'ID'">
                <a href="#/viewUser/{{user._id}}">{{user._id}}</a>
            </td>
            <td data-title="'用户名'">
                <a href="#/viewUser/{{user._id}}">{{user.username}}</a>
            </td>
            <td data-title="'电子邮件'">{{user.email}}</td>
            <td data-title="'管理员'">{{user.isAdmin}}</td>
            <td data-title="'操作'">
                <div class="btn-group">
                    <button button type="button" class="btn btn-primary" ng-click="setAdminUser(user._id)">升级管理员</button>
                </div>
            </td>
        </tr>
    </table>
</div>