form.login {
    margin: 0 auto;
    height: 220px;
    width: 400px;
}

form.signup {
    margin: 0 auto;
    width: 400px;
}

form.login button, form.signup button {
    float: right;
    margin: 10px;
}

form.login p.error, form.signup p.error {
    width: 150px;
    margin: 15px;
    min-height: 22px;
    float: left;
    color: #d40000;
    font-size: 14px;
}

form h2 {
    margin-left: 15px;
}

.otherLink {
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    padding-left: 30px;
    width: 100%;
}


