<div class="content">
    <form class="signup" ng-submit="signup()">
        <h2>注册</h2>
        <input type="email" name="email" ng-model="user.email" placeholder="电子邮件" class="form-control"/>
        <input type="text" name="username" ng-model="user.username" placeholder="用户名" class="form-control"/>
        <input type="password" name="password" ng-model="user.password" placeholder="账户密码" class="form-control"/>
        <p class="error">
            {{ errorMessage }}
        </p>
        <button type="submit" name="update">注册</button><br>
    </form>
    <div class="otherLink">
        <p>
            已有账号，<a href="javascript:void(0)" ng-click="openLoginDialog()">从这里登录</a>
        </p>
    </div>
</div>