<div class="header navigationHeader" ng-controller="navigationHeaderController">
    <div class="link">
        <a href="/">首页</a>
        <a href="/#/createPost">创建作品</a>

        <span class="rightLink">
            <span ng-show="currentUser">
                你好, {{ currentUser.username }}
                <a href="javascript:void(0)" ng-click="logout()">登出</a>
            </span>
            <span ng-show="!currentUser">
                <a href="#/login">登录</a>
            </span>
        </span>
    </div>
</div>