<!DOCTYPE html>
<html>
    <head>
        <title>所有用户</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>
    <body>
        <% include header %>
        <div class="content">
            <p><%= message %></p>
            <% if(locals.items) {%>
                <% for(var i=0; i<items.length; i++) {%>
                    电子邮件：<%= items[i].email %>
                    用户名：<%= items[i].username %>
                    注册时间：<%=  items[i].createdDate %><br>
                <% } %>
            <% } %>
        </div>
        <% include footer %>
    </body>
</html>