<div class="content createPost">
    <p>{{ message }}</p>
    <p class="error">{{ errorMessage }}</p>
    <form>
        <input type="text" name="subject" value="" ng-model="post.subject" placeholder="作品名称" class="form-control" required/><br>
        <image-uploader on-success="imageUploadOnSuccess(imageUrl)" on-error="imageUploadOnError(error)"></image-uploader>
        <textarea name="summary" placeholder="简述" ng-model="post.summary" rows="4" cols="50" class="form-control"></textarea><br>
        <button type="submit" name="update" ng-click="createPost()">发布</button><br>
    </form>
</div>