<div class="content editPost">
    <p>{{ message }}</p>
    <p class="error">{{ errorMessage }}</p>
    <form name="postForm">
        <h2>修改推荐</h2>
        <div ng-class="{ 'has-error' : postForm.subject.$invalid && !postForm.subject.$pristine }">
            <label>推荐名称（必填）</label>
            <input type="text" name="subject" ng-model="post.subject" class="form-control" required/>
            <p ng-show="postForm.subject.$invalid && !postForm.subject.$pristine" class="help-block">必须填写推荐名称</p>
        </div>
        <div ng-class="{ 'has-error' : postForm.location.$invalid && !postForm.location.$pristine }">
            <label>地点（必填）</label>
            <input type="text" name="location" value="" ng-model="post.location" class="form-control" required/>
            <p ng-show="postForm.location.$invalid && !postForm.location.$pristine" class="help-block">必须填写地点</p>
        </div>
        <div>
            <label>主图</label>
            <div><img class="postImage" ng-src="{{ post.postImage }}"/></div>
        </div>
        <div>
            <image-uploader on-success="imageUploadOnSuccess(imageUrl)" on-error="imageUploadOnError(error)"></image-uploader>
        </div>
        <div>
            <label>简述</label>
            <textarea name="summary" rows="4" ng-model="post.summary" cols="50" class="form-control"></textarea>
        </div>
        <div>
            <label>城市</label>
            <input type="text" name="city" value="" ng-model="post.city" class="form-control"/>
        </div>
        <div>
            <label>地址</label>
            <input type="text" name="address" value="" ng-model="post.address" class="form-control"/>
            <button type="button" class="btn btn-primary" ng-click="requestGeoLocation()" >获取位置信息</button>
        </div>
        <div>
            <label>经度</label>
            <input type="text" name="coordinateX" value="" ng-model="post.coordinates.x" class="form-control"/>
        </div>
        <div>
            <label>纬度</label>
            <input type="text" name="coordinateY" value="" ng-model="post.coordinates.y" class="form-control"/>
        </div>
        <div>
            <label>电话</label>
            <input type="text" name="phone" value="" ng-model="post.phone" class="form-control"/>
        </div>
        <div>
            <label>标签</label>
            <tags-input ng-model="post.tags"
                        placeholder="添加标签"
                        min-length="1"/>
        </div>
        <div class="buttonBar">
            <button name="update" class="btn btn-default" ng-click="redirectToPreviousPage()">取消</button>
            <button type="submit" name="update" class="btn btn-primary" ng-click="updatePost()" ng-disabled="postForm.$invalid">修改</button>
        </div>
    </form>
</div>