.tagGroup .tag {
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 10px;
    background-color: #03B1D6;
}

.tagGroup .tag a {
    color: #ffffff;
}

.tagGroup .tag a:hover  {
    text-decoration: none;
}