<!DOCTYPE html>
<html>
    <head>
        <title>发布作品</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include header %>
        <form method="post" id="post" action="/createPost" enctype="multipart/form-data">
            名称：<input type="text" name="subject" value="<% if(locals.post && locals.post.subject) {%><%= post.subject %><% } %>" aria-label="名称"/><br>
            主图：<input type="file" name="pic" value="<% if(locals.post && locals.post.pic) {%><%= post.pic %><% } %>" aria-label="主图"/><br>
            描述：<textarea name="description" aria-label="描述" rows="4" cols="50"></textarea><br>
            <button type="submit" name="update">发布</button><br>
        </form>

        <% if(locals.message) {%>
            <%= message %>
        <% } %>
        <% include footer %>
    </body>
</html>