<!DOCTYPE html>
<html>
    <head>
        <title>用户登录</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <link rel='stylesheet' href='/stylesheets/login.css' />
    </head>
    <body>
        <% include header %>
        <div class="content">
            <form action="/login" method="post" class="login">
                <input type="text" name="username" placeholder="用户名或电子邮件"/>
                <input type="password" name="password" placeholder="密码"/>
                <p class="error"><%= message %></p>
                <button type="submit">登录</button>
            </form>
        </div>
        <% include footer %>
    </body>
</html>