<!DOCTYPE html>
<html>
<head>
    <title>用户注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% if(locals.user) {%>
        电子邮件：<%= user.email %><br>
        用户名：<%= user.userName %><br>
        注册时间：<%=  user.createdDate %><br>
    <% } %>
    <% if(locals.message) {%>
        <%= message %>
    <% } %>
    </body>
</html>