<!DOCTYPE html>
<html>
<head>
    <title>用户注册</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
    <% include header %>
    <div class="content">
        <p><%= message %></p>
        <% if(locals.item) {%>
            电子邮件：<%= item.email %><br>
            用户名：<%= item.username %><br>
            注册时间：<%=  item.createdDate %><br>
        <% } %>
    </div>
    </body>
    <% include footer %>
</html>