body {
    margin: 0;
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;
}

body a {
    text-decoration: none;
}

div.footer {
    border-top: 1px solid #e5e5e5
}

div.content {
    min-height: 800px;
    width: 960px;
    margin: 0 auto;
    padding-top: 10px;
}

div.content a, div.content:visited {
    color: #898989;
}

form div {
    margin: 15px 0 15px 0;
}

.buttonBar {
    height: 50px;
}

.appContent {
    background-color: #f2f2f2;
}

/* postCard */

.postCard {
    width: 300px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .15);
    margin: 10px;
    background:#fff url(../../images/spinner.gif) center 30px no-repeat;
}

.postCard .postImage{
    width: 298px;
}

.postCard .postSubject {
    color: #030303;
    font-size: 18px;
    padding: 10px;
}

.postCard .postLocation {
    padding: 0 10px 15px 10px;
}

.postCard a:hover {
    text-decoration: none;
}


/* navigationHeader */

.navigationHeader .rightLink {
    float: right;
}

.navigationHeader {
    height: 55px;
    background-color: rgb(138, 202, 223);
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.26);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.26);
    font-size: 1.2em;
}

.navigationHeader .link, div.navigationHeader a.link:visited {
    color: white;
}

.navigationHeader .header {
    width: 960px;
    margin: 0 auto;
    padding: 15px 0 15px 0;
}

.navigationHeader button.loginButton {
    background-color: rgb(68, 163, 195);
}

.navigationHeader button.loginButton:hover {
    background-color: rgb(57, 132, 157);
}

/* gridPost */

.gridPost .grid {
    display:inline-block
}

.gridPost .masonryPosts {
    width: 960px;
}

/* viewPost */

.viewPost .postImage {
    max-width: 500px;
}

.viewPost label {
    width: 100%;
    margin-top: 15px;
}

.viewPost .leftSection {
    width: 560px;
    display: inline-block;
    background-color: #ffffff;
    vertical-align:top;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    padding: 30px 30px 30px 30px;
}

.viewPost .postLocation {
    font-weight: bold;
}

.viewPost .rightSection {
    background-color: #ffffff;
    width: 330px;
    display: inline-block;
    vertical-align:top;
    margin-left: 30px;
    padding: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    border-radius: 3px;
}

.viewPost .postSummary {
    margin: 15px 0 15px 0;
}

/* deckgrid */

.deckgrid .animation-fade {
    opacity:0;
}

.deckgrid .animation-faded {
    opacity:1;
}

.deckgrid .animation-faded {
    -webkit-transition: opacity 1s linear .2s;
    -moz-transition: opacity 1s linear .2s;
    -o-transition: opacity 1s linear .2s;
    transition: opacity 1s linear .2s;
}

.deckgrid {
    padding:10px;
    width:1000px;
}

.deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
    font-size: 0;
    visibility:hidden;
}

.deckgrid .column {
    float:left;
}

/* editPost*/

.editPost .postImage {
    width: 200px;
}

.editPost form button {
    float: right;
    margin: 10px;
}

.editPost tags-input .tags {
    width: 100%;
    margin: 0;
    height: 34px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
}

.editPost tags-input .host {
    margin: 0;
}

.editPost tags-input .tags .tag-item {
    background: #03B1D6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 10px;
    border: 0;
}

.editPost tags-input .tags .tag-item span,
.editPost tags-input .tags .tag-item a {
    color: #ffffff;
}

/* createPost */
.createPost button {
    float: right;
    margin: 10px;
}

.createPost tags-input .tags {
    width: 100%;
    margin: 0;
    height: 34px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
}

.createPost tags-input .host {
    margin: 0;
}

.createPost tags-input .tags .tag-item {
    background: #03B1D6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 10px;
    border: 0;
}

.createPost tags-input .tags .tag-item span,
.createPost tags-input .tags .tag-item a {
    color: #ffffff;
}

/* listPost */
.listPost .header div {
    float: left;
}

.listPost .topButtonBar button {
    float: right;
}

.listPost .postImage {
    width: 100px;
}

/* baiduMap */
.baiduMap, .baiduMap .mapContent {
    width: 300px;
    height: 200px;
}

/* imageUploader*/
.imageUploader .previewImage {
    height: 100px;
    margin-bottom: 15px;
}

.imageUploader .progress, .progress-bar {
    margin: 0 0 20px 0;
}

/* tagGroup */
.tagGroup .tag {
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 10px;
    background-color: #03B1D6;
}

.tagGroup .tag a {
    color: #ffffff;
}

.tagGroup .tag a:hover  {
    text-decoration: none;
}