body {
    margin: 0;
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;
}

body a {
    text-decoration: none;
}

div.footer {
    border-top: 1px solid #e5e5e5
}

div.content {
    min-height: 800px;
    width: 960px;
    margin: 0 auto;
    padding-top: 10px;
}

div.content a, div.content:visited {
    color: #898989;
}

form div {
    margin: 15px 0 15px 0;
}

.buttonBar {
    height: 50px;
}

.appContent {
    background-color: #FBFBFB;
}
